body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5;
    padding: 40px;
}
 /* wrapper */
.wrapper{
    display: flex;
    flex-direction: row-reverse;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url(./img/m.JPG);
    background-repeat: repeat-x;
}   

/* main content style */
.main-content {
    padding: 88px 88px 88px 88px;
    background-image: url(file:///G:/JavaScript_less/!!maraphon_3_5days/!!maraphon_day_5/img/background.jpg); 
    background-repeat: repeat-x;
}
/* projects,work-exp,education style*/ 
.main-content-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0;

}




/* about me  */
.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 18px 0;
}

.my-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 625px;
}


.about-me-container {
    margin-bottom: 64px;
}


/*projects*/
.projects-container{
    margin-bottom: 48px;
}



.projects-list{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #000000;
    padding-left: 12px;
    padding-top: 8px;
}

.projects-list-links {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-decoration-line: underline;

    color: #005FFF;
}
.projects-list-item-discr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}




/* work experience  */
.work-experience-conteiner{
    padding-bottom: 48px;
}

.work-experience-place{
    margin: 16px 0 16px 0;
}


.work-experience-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin: 0;
}

.work-experience-company {
    color: #6D9BF5;
}


.work-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 12px 0 8px 0;
}

.work-position-duties {
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-duties-lists{
    padding: 0 0 0 12px;
    margin: 0;
}


/* Education */
.educational-institution {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    margin: 12px 0 0 0;
}

.education-special {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 12px 0 0 0;
}

.education-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 12px 0 0 0;
}


/* бокова панель sidebar*/

.image-style{
    border: 1px solid skyblue;
    border-radius: 20px;
}
.sidebar {
    width: 370px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding-top: 35px;
    padding-right: 2px;
    background-color: skyblue;
}

/* main conteiners in sidebar block */
.contacts-container, 
.techskills-container,
.softskills-container{
    margin: 48px 0 0 40px;
}


.sidebar-titles{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161D2A;
}


/* block of classes where apears contacts and their elements*/
.contacts-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-right: 4px;
    line-height: 24px;    
    color: #161D2A;
}

.contact-item{
    margin: 0;
}

.contacts-number{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;   
    color: #161D2A;   
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #2979FF;
    }
    
/*block of tech_skills and their elements*/
.tech-skills_list {
    margin: 0px;
    padding: 0 0 0 20px;
}

.tech_class-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6D9BF5;
}

.tech_item-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

/*block of soft_skills and their elements*/
.soft_skills_list {
    margin: 0px;
    padding: 0 0 0 20px;
}

.soft_class-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6D9BF5;
}

.soft_item-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}