.wrapper{
    margin: 0;
    padding: 0;
    
    // flex-direction: column;
}


.header {
    text-align: center;
    background-color: rgb(51, 101, 150);
    color: white;
    height: 50px;
}


.main-container {
    max-height: max-content;
    align-content: center;
    // display: grid;
    // column-gap: 0px;
    display: flex;
    @media (min-width: 1000px) {
        flex-direction: row;
        width: auto;
        // grid-template-columns: auto auto auto;
        
    }

    @media (max-width: 999px) {
        flex-direction: column;
        width: auto;
    }
}

.navigation {
    background-color: rgb(254, 153, 0);
    padding: 10px;
}

.main-box {
    padding: 10px;
}


.related-links {
    background-color: #993365;
    padding: 10px;
}




.footer {
    text-align: center;
    background-color: #669900;
    align-content: flex-end;
    height: 50px;
}