<main class="main-contacts">
  <address class="main-contacts-schedule">
    <div class="descriprion-container">
      <h2>Consultation and ordering</h2>
    </div>
    <div class="numbers-schedule-container">
      <div class="numbers-container">
        <i class="bi bi-telephone"></i>
        <div>
          <p>
            <a class="number-link" href="tel:+380800000000">0-800-000-000 </a>
          </p>
          <span>Free calls from all operators in Ukraine</span>
          <br />
          <br />
          <p>
            <a class="number-link" href="tel:+380670000000">(067) 000-00-00 </a>
          </p>
          <p>
            <a class="number-link" href="tel:+380970000000">(097) 000-00-00 </a>
          </p>
          <p>
            <a class="number-link" href="tel:+38050000000">(050) 000-00-00 </a>
          </p>
        </div>
      </div>
      <div class="schedule-container">
        <p>Mon-Fri: 9:00 AM — 7:00 PM</p>
        <p>Sat: 9:00 AM — 5:00 PM</p>
      </div>
    </div>
    <div class="mail-container">
      <i class="bi bi-mailbox"></i>
      <a class="mail-link" href="mailto:support@bike-shop.com.ua"
        >support@bike-shop.com.ua
      </a>
    </div>
  </address>
</main>
