
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

.blog__offer.vitamin {
    background: #2c3138;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 20px;
    overflow: hidden;
}

.blog__offer.vitamin .fYellow {
    color: #ffd14b;
}

.blog__offer.vitamin > .container {
    padding: 20px 0 20px;
}


.vitamin .blog__offer__arts,
.vitamin .blog__offer__arts__art-girl {
    position: absolute;
    right: 0;
    top: 0;
}
.vitamin .blog__offer__arts {
    left: 0;
}


.blog__offer.vitamin .blog__offer__logo {
    line-height: 0;
}

.blog__offer.vitamin .title {
    font-weight: normal;
    margin: 1.2em 0 1.5em;
}

.vitamin .blog__offer__lists_cont {
    display: block;
}

.vitamin .blog__offer__lists_cont ul {
    font-weight: 300;
}
.blog__offer__lists_cont li.yellow:before {
    background-color: #ffd14b;
    border: 1px solid #ffd14b;
}
.blog__offer__lists_cont li.blue:before {
    background-color: #4285f4;
    border: 1px solid #4285f4;
}
.blog__offer__lists_cont li.magenta:before {
    background-color: #ea4335;
    border: 1px solid #ea4335;
}
.blog__offer__lists_cont li:before {
    border-radius: 500px;
}


.blog .vitamin .button.magenta {
    background: rgba(146,29,124,1);
}
.blog .vitamin .button.magenta:hover {
    background: rgba(146,29,124,.9);
}

.blog .vitamin .button.green {
    background: rgba(71,194,111,1);
}
.blog .vitamin .button.green:hover {
    background: rgba(71,194,111,.9);
}

.blog .vitamin .button.large {
    box-sizing: border-box;
    font-weight: 500;
    padding: .5417em;
}





@media only screen and (max-width: 639px) {
    .blog__offer.vitamin {
        padding-bottom: 0;
    }
    .blog__offer.vitamin > .container {
        padding-top: 0;
    }

    .vitamin .blog__offer__arts__art-girl {
        margin-right: -16px;
        width: 79.1667%;
    }

    .blog__offer.vitamin .blog__offer__logo {
        width: 124px;
    }

    .blog__offer.vitamin .title {
        font-size: 14px;
        line-height: 19px;
        max-width: 220px;
    }

    .vitamin .blog__offer__lists_cont ul {
        margin-left: 13px;
        max-width: 147px;
    }
    .vitamin .blog__offer__lists_cont li {
        font-size: 11px;
        line-height: 1.2em;
        margin-bottom: 6px;
    }
    .blog__offer__lists_cont li:before {
         width: 5px;
         height: 5px;
         margin: -2px 5px 0 -12px;
     }

    .vitamin .blog__offer__button_cont {
        margin-top: 20px;
    }

    .blog .vitamin .button.large {
        font-size: 12px;
        width: 130px;
    }
    .blog .vitamin .button.large:first-child {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 640px) {
    .vitamin .blog__offer__button_cont {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
    .vitamin .blog__offer__arts__art-girl {
        margin-right: -16px;
        width: 314px;
    }

    .blog__offer.vitamin .blog__offer__logo {
        width: 224px;
    }

    .blog__offer.vitamin .title {
        font-size: 24px;
        line-height: 29px;
        max-width: 440px;
    }

    .vitamin .blog__offer__lists_cont ul {
        margin-left: 20px;
    }
    .vitamin .blog__offer__lists_cont li {
        font-size: 13px;
        line-height: 28px;
    }
    .blog__offer__lists_cont li:before {
        width: 12px;
        height: 12px;
        margin: -2px 5px 0 -19px;
    }

    .blog .vitamin .button.large {
        font-size: 16px;
        width: 222px;
    }
    .blog .vitamin .button.large:first-child {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 959px) {
}

@media only screen and (min-width: 960px) {
    .blog .vitamin .container {
        max-width: 960px;
    }

    .vitamin .blog__offer__arts__art-girl {
        min-width: 383px;
    }

    .blog__offer.vitamin .blog__offer__logo {
        width: 366px;
    }

    .blog__offer.vitamin .title {
        font-size: 30px;
        line-height: 44px;
        max-width: 726px;
    }

    .vitamin .blog__offer__lists_cont ul {
        margin-left: 30px;
    }
    .vitamin .blog__offer__lists_cont li {
        font-size: 20px;
        line-height: 42px;
    }
    .blog__offer__lists_cont li:before {
        width: 19px;
        height: 19px;
        margin: -2px 8px 0 -29px;
    }

    .blog .vitamin .button.large {
        font-size: 24px;
        width: 334px;
    }
    .blog .vitamin .button.large:first-child {
        margin-right: 52px;
    }
}
