.margin-right-1 {
  margin-right: 1rem;
}

.red-bg {
  background-color: red !important;
}

.pink-bg {
  background-color: pink !important;
}

.yellow-bg {
  background-color: yellow !important;
}

.green-bg {
  background-color: rgba(0, 128, 0, 0.4) !important;
}

.orange-bg {
  background-color: orange;
}

.grey-bg {
  background-color: grey;
  color: white;
}

.blue-bg {
  background-color: rgba(0, 0, 255, 0.3);
}

.black-bg {
  background-color: black;
  color: white;
}
