.wrapper {
    display: flex;
    flex-direction: row;
}


/* .main_list {
    margin: 0;
    padding-left: 12px;
    color:blue;
} */
/* table, tr, td {
    border: 5px ridge black;
} */

/* FIO */
.first-name {
    color:gray;
}

.last-name {
    color: green;
}

.address {
    color:brown;
}

/* image */
.img-container {
    width: 500px;
    border:solid 1px white;
    border-radius: 13px;
}

.input-container {
    width: 156px;
}

.aboutMe-container {
    margin-left: 155px;

}
.text-container {
    width: 300px;
    height: 300px;
}

.kadirov_style {
    border: 1px solid yellowgreen;
}
/* textarea {
    size-adjust: 900px;
} */