$color: blue;


%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: green;
}

.unsuccess {
    @extend %message;
    background-color: yellow;
}

.warning-mess {
    @extend %message;
    background-color: red;
}

// ul {
//     font-size: 14px;
//     color: $color;
// }

// ol {
//     font-size: 18px;
//     color: $color;
// }