<div class="product-container">
    <h2 class="product-title">{{product.title}}</h2>
    <img class="product-image" [src]="product.images[3]" alt="">
    <div class="product-price"> Price {{product.price | currency}}</div>

    <button class="product-button"
    (click)="details = !details"
    [ngClass]="{
        'colorB': details
    }"> {{ details ? 'Hide Details' : 'Show Details'}}</button>
    <div *ngIf="details">
        <p class="products-descr">{{ product.description}}</p>
        <p class="product-rate"> {{product.rating}} </p>
    </div>
   
</div>