$divheight: 42px;
$font: 13px;
$mainColor: #777777;


// wraper
.wrapper {
    margin: 20px;
}
// header
.header {
    height: 64px;
    width: auto;
}

.left-header {
    padding: 0 30px 0 0;
}

// second header
.sec-header {
    height: 37px;
    width: auto;
    margin-left: 21px; 
    font-size: 20px;
    color: #D93025;

}

// main search
.main-search {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: auto;
    color: $mainColor;
}

.main_field_for_search{
    width: 100%;
    // // border-color: $mainColor ;
    // border-style: outset;
    // border-radius: 2px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.prescr-discr-preview{
    font-size: 16px;
    height: $divheight;
    
}

.all-divs {
    height: $divheight;
    width: 100%;
    font-size: $font;
}

.prescr-divs {
    height: $divheight;
    width: 150px;
    font-size: $font;
    padding-left: 20px;
}






.buttons {
        // // border-color: $mainColor ;
    // border-style: outset;
    // border-radius: 2px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    background-color: rgb(77,144,254);
    font-weight: bold;
    color: white;
}