$default-border-radius: 10px;
$clear-button: 100%;

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    border: 1px solid transparent;
    border-radius: $default-border-radius;
    
    .todo-list-container{
        border-radius: $default-border-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        min-width: 500px;
        min-height: 400px;
        background: linear-gradient(to right, rgba(115, 115, 243, 0.9), pink);
        .clear-button-container{
            width: $clear-button;
            .clear-button {
                width: 100%;
            }
            .clear-button:active{
                color: white;
                background-color: gray;
                opacity: 0.8;
            }
        }
    }
}

.todo-list {
    width: 100%;
    padding-left: 0px;   

    > li {
        list-style: none;

    }
    &-item {
        display: flex;
        padding: 10px 0 10px 0;
        &.done {
            background-color: lightgreen;
            text-decoration: line-through;
        }
        &.expired{
            background-color: lightcoral;
            text-decoration: line-through;
        }
        &-text {
            text-transform: capitalize;
        }
        &-actions {
            margin-left: auto;
        }
    }

}

.add-edit-button:hover{
    background-color: grey;
    color: white;

}
.add-edit-button{
    border-left: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.add-edit-input{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}