$header-bg: rgba(128, 128, 128, 0.3);
$main-bg: rgba(128, 128, 128, 0.1);
$text-color: white;
$dark-mode-bg-on-hover: rgba(128, 128, 128, 0.8);
$dark-mode-text-on-hover: white;
$input-bg: rgba(128, 128, 128, 0.8);;
$country-bg: white;